@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: 255, 255, 255; /* #ffffff */
  --color-black: 0, 0, 0; /* #000000 */
  --color-bg: 250, 251, 253; /* #fafbfd */
  --color-fg: 22, 24, 75; /* #16184b */
  --color-fg-1: 218, 221, 238; /* #daddee */
  --color-fg-2: 162, 163, 183; /* #a2a3b7 */
  --color-primary: 33, 53, 155; /* #21359b */
  --color-secondary: 242, 154, 74; /* #f29a4a */
  --color-positive: 21, 218, 136; /* #15da88 */
  --color-negative: 234, 48, 68; /* #ea3044 */

  --font-weight-light: 100;
  --font-weight-normal: 400;
  --font-weight-bold: 800;

  --header-height: 58px;
  --editor-height: 45%;
  --viewer-height: calc(100% - var(--header-height) - var(--editor-height));
}

* {
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

*:focus {
  outline: 2px solid rgb(var(--color-primary), 0.75);
  border-radius: 4px;
}

html,
body,
main {
  height: 100%;
}

body {
  background: rgb(var(--color-bg));
  color: rgb(var(--color-fg));
}

a {
  color: rgb(var(--color-primary));
  text-decoration: underline;
  transition: 0.3s ease-out;
}

a:hover {
  filter: saturate(150%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  display: flex;
  flex-direction: column;
}
