.list-item {
  padding: 0.5rem;
  border-radius: 4px;
  display: flex;
  transition: 0.1s ease-out;
  cursor: pointer;
}

.list-item:first-of-type {
  margin-top: 0.5rem;
}

.list-item:last-of-type {
  margin-bottom: 0.5rem;
}

.list-item:not(:last-of-type) {
  margin-bottom: 4px;
}

.list-item:hover,
.list-item:focus,
.list-item.is-active {
  background-color: rgb(var(--color-fg-1));
}

.list-item--icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}

.list-item--icon svg {
  width: 1rem;
  height: 1rem;
}

.list-item--icon.icon--table {
  color: rgb(var(--color-primary));
}

.list-item--icon.icon--query {
  color: rgb(var(--color-secondary));
}

.list-item--text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
